.button {
    height: 40px;
    background-color: #548687;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
}

.button:disabled {
    background-color: #ccc;
    cursor: default;
}